[Unit]
Description=Humidity extractor
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/humidity-extractor
ExecStart=/home/pi/humidity-extractor/main.py
Restart=always

[Install]
WantedBy=multi-user.target
